{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h3><span>Hello </span> {{ name }}</h3>
            </div>

{% endblock %}
