{% extends 'base.html.twig' %}

{% block body %}
<h2 class=page-header>Edit Todos</h2>
{{form_start(form)}}
{{form_widget(form)}}
  <a href="/list" class="btn btn-default" style="margin-left: 7px">Cancel</a>
{{form_end(form)}}
{% endblock %}
